.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .texto {
    color: #ffffff;
  }
  
  .expresion {
    color: #ffffff;
    margin-left: 570px;
    margin-top: 260px;
    position: fixed;
    display: inline-block;
    z-index: 1;
  }

  .columna {    
    display: inline-block;
    width: 250px;
  }

  .selected {    
    font-weight: bold;
    font-size: 25px;
  }

 .nombrePersonajeTexto {    
    text-transform: uppercase;
  }

  .unselected {
  }

  


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  